* {
	margin: 0;
	padding: 0;
}
body {
	    background: url(images/Background.png) no-repeat center;
	    -webkit-background-size: cover;
	    background-size: cover;
	}

.header_pc{
	
	min-width: 240px;
	max-width: 1920px;
	height: 120px;
	width: 70%;
	background-color: #0D0D11;
	padding-left: 2%;
	padding-right: 2%;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Book.ttf");
}
.header_menu_pc{
	list-style: none;
	display: flex;
	padding-right: 0;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-shrink: 0;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
	width: 75%;
	bottom: 85px;
}
@media screen and (max-width: 1199px){

	.header_menu_pc{
		display: none;
		flex-direction: column;
		height: 50%;
		width: 50%;
		z-index: 50;
		position: fixed;
		top: 0; bottom: 0; left: 0; right: 10;
		animation: burgerAnimation 0.4s;
	}
	.burger_bg{
		display: none;
		flex-direction: column;
		background-color: #111115;
		height: 100%;
		width: 50%;
		position: fixed;
		z-index: 49;
		top: 0; bottom: 0; left: 0; right: 10;
		animation: burgerAnimation 0.4s;
	}
	.burger{
		display: flex;
		position: relative;
		z-index: 50;
		align-items: center;
		justify-content: flex-end;
		width: 30px;
		height: 25px;
		margin-left: auto;
		bottom: 80px;
	}
}
@media screen and (min-width: 1200px){
	.burger{
		display: none;
	}
}

.burger span{
	height: 2px;
	width: 100%;
	transform: scale(1);
	background-color: #FFFFFF;
}
.burger::before, .burger::after{
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #FFFFFF;
	transition: all 0.3s ease 0s;
}
.burger::before {
	top: 0;
}
.burger::after {
	bottom: 0;
}
@keyframes burgerAnimation {
	from {opacity: 0}
	to {opacity: 1}
}
.header_menu_pc a{
	display: flex;

	font-family: "Gotham";
	color: #FFFFFF;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	align-self: stretch;
	text-align: center;
	font-family: Gotham;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none
}
.articles_pc {
	min-width: 240px;
	min-height: 1080px;
	height: 100%;
	width: 70%;
	max-width: 1920px;
	background-color: #0D0D11B2;
	
	display: flex;
	padding: 2%;
	margin-left: auto;
	margin-right: auto;

}
.article_news_pc {
	display: block;
	max-width: 1000px;
	width: 100%;
	height: 20%;
	flex-shrink: 0;
	margin-left: auto;
	margin-right: auto;
	

}
.title_article_news_pc{
	margin-top: 5%;
	display: flex;
	width: 100%;
	height: 75px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 5px 5px 0px 0px;
	background: #2A2A33;
}
.title_article_news_pc a{
	padding: 2%;
	gap: 2%;
	display: flex;
	width: 75%;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #FFF;

	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: 100%;
	line-height: normal;
	max-height: 50px;
}
@media screen and (max-width: 800px){
	.title_article_news_pc a{
		font-size: 16px;
	}
}
@media screen and (min-width: 801px){
	.title_article_news_pc a{
		font-size: 24px;
	}
}

.content_article_news_pc{
	display: flex;
	width: 100%;
	align-items: center;
	flex-shrink: 0;
	border-radius: 0px 0px 5px 5px;
	background: #18181F;
	padding-bottom: 7%;
}
.content_article_news_pc p{
	max-height: 150px;
	padding: 2%;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: rgba(255, 255, 255, 0.65);
	text-overflow: ellipsis;
	
	color: rgba(255, 255, 255, 0.65);
	font-family: Gotham;
	font-style: normal;
	font-weight: 70%;
	line-height: 35px;
	text-decoration: none;
}
@media screen and (max-width: 800px){
	.content_article_news_pc p{
		font-size: 16px;
	}
}
@media screen and (min-width: 801px){
	.content_article_news_pc p{
		font-size: 24px;
	}
}

.logo_article_news_pc{
	width: 100px;
	display: flex;
	flex-shrink: 0;
	border-radius: 5px 0px 0px 5px;
	float: left;

}

.roadmaps_article{
	display: block;
	!max-width: 1000px;
	!max-height: 175px;
	width: 100%;
	height: 20%;
	flex-shrink: 0;
	margin-left: auto;
	margin-right: auto;
}
.title_roadmaps{
	margin-top: 0%;
	display: flex;
	width: 75%;
	height: 75px;
	justify-content: left;
	align-items: left;
	flex-shrink: 0;
}
.title_roadmaps a{
	padding: 2%;
	gap: 2%;
	display: flex;
	width: 75%;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #FFF;

	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: 100%;
	line-height: normal;
	max-height: 50px;
}
@media screen and (max-width: 800px){
	.title_roadmaps a{
		font-size: 20px;
	}
}
@media screen and (min-width: 801px){
	.title_roadmaps a{
		font-size: 24px;
	}
}

.title_roadmaps p{
	padding-top: 3%;
	padding-bottom: 2%;
	gap-top: 2%;
	gap-bottom: 2%;
	width: 50%;
	justify-content: center;
	flex-shrink: 0;
	color: rgba(255, 255, 255, 0.50);;
	text-align: right;
	font-family: Gotham;
	font-size: 12px;
	font-style: normal;
	font-weight: 100%;
	line-height: normal;
	max-height: 50px;
}
.article_roadmap{
	display: block;
	max-width: 1000px;
	max-height: 450px;
	width: 100%;
	height: 20%;
	flex-shrink: 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px 5px 5px 5px;
	background: rgba(24,24,31,0.5);
	margin-bottom: 3%;
}
.content_article_roadmap{
	display: flex;
	width: 100%;
	height: 50%;
	align-items: center;
	flex-shrink: 0;
}

.content_article_roadmap p{
	max-height: 150px;
	padding: 1.75%;
	padding-bottom: 1%;
	gap: 2%;
	display: flex;
	width: 100%;
	height: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	
	color: rgba(255, 255, 255, 1);
	font-family: Gotham;
	font-style: normal;
	font-weight: 70%;
	line-height: 35px;
	text-decoration: none;
	
}
@media screen and (max-width: 800px){
	.content_article_roadmap p{
		font-size: 20px;
	}
}
@media screen and (min-width: 801px){
	.content_article_roadmap p{
		font-size: 24px;
	}
}
.content_article_roadmap p1{
	max-height: 150px;
	padding-left: 10%;
	gap: 2%;
	display: flex;
	width: 100%;
	height: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	
	color: rgba(255, 255, 255, 0.65);
	font-family: Gotham;
	font-size: 22px;
	font-style: normal;
	font-weight: 70%;
	line-height: 35px;
	text-decoration: none;
	padding-bottom: 1%;
}
@media screen and (max-width: 800px){
	.content_article_roadmap p1{
		font-size: 18px;
	}
}
@media screen and (min-width: 801px){
	.content_article_roadmap p1{
		font-size: 22px;
	}
}

.articles_roadmap {
	min-width: 240px;
	min-height: 1080px;
	height: 100%;
	width: 70%;
	max-width: 1920px;
	background-color: #0D0D11B2;

	padding: 2%;
	margin-left: auto;
	margin-right: auto;
}

.logo_article_games{
	!max-height: 240px;
	!max-width: 240px;
	width: 10%;
	height: 10%;
	display: flex;
    margin: 1%;
	border-radius: 5px 5px 5px 5px;
	
}
.article_games{
	display: block;
	max-width: 1000px;
	max-height: 450px;
	width: 100%;
	height: 20%;
	flex-shrink: 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px 5px 5px 5px;
	background: rgba(24,24,31,0.5);
	margin-bottom: 3%;
}
.title_article_games{
	margin-top: 0%;
	display: flex;
	width: 100%;
	justify-content: left;
	align-items: left;
	flex-shrink: 0;
}
.title_article_games a{
	padding: 2%;
	gap: 2%;
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #FFF;

	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: 100%;
	line-height: normal;
	max-height: 50px;
}

.title_article_games p{
	padding-top: 4%;
	padding-bottom: 2%;
	padding-right: 2%;
	gap-top: 2%;
	gap-bottom: 2%;
	width: 33%;
	justify-content: center;
	flex-shrink: 0;
	color: rgba(255, 255, 255, 0.50);
	text-align: right;
	font-family: Gotham;
	font-style: normal;
	font-weight: 100%;
	line-height: normal;
	max-height: 50px;
	!background: rgba(24,24,31,0.5);
}
@media screen and (max-width: 800px){
	.title_article_games p{
		font-size: 10px;
	}
	.title_article_games a{
		font-size: 20px;
	}
}
@media screen and (min-width: 801px){
	.title_article_games p{
		font-size: 12px;
	}
	.title_article_games a{
		font-size: 24px;
	}
}

.content_article_games p{
	max-height: 150px;
	padding: 1.75%;
	padding-bottom: 4%;
	gap: 2%;
	display: flex;
	width: 97%;
	height: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	
	color: rgba(255, 255, 255, 0.65);
	font-family: Gotham;
	font-style: normal;
	font-weight: 70%;
	line-height: 35px;
	text-decoration: none;
}
@media screen and (max-width: 600px){
	.content_article_games p{
		font-size: 12px;
	}
}
@media screen and (min-width: 601px){
	.content_article_games p{
		font-size: 24px;
	}
}
.article_our_team{
	display: block;
	max-width: 1000px;
	max-height: 450px;
	width: 100%;
	height: 20%;
	flex-shrink: 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px 5px 5px 5px;
	background: rgba(24,24,31,0.5);
	margin-bottom: 3%;
}
.title_article_our_team{
	margin-top: 0%;
	display: flex;
	width: 100%;
	justify-content: left;
	align-items: left;
	flex-shrink: 0;
}
.title_article_our_team h1{
	margin-left: 34%;
	padding: 2%;
	padding-top: 0%;
	gap: 2%;
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #FFF;

	text-align: right;
	font-family: Gotham;
	font-size: 24px;
	font-style: normal;
	font-weight: 100%;
	line-height: normal;
	max-height: 50px;
}
h1{
	margin-top: 3%;
	font-family: Gotham;
	font-style: normal;
	font-weight: 100%;
	line-height: normal;
	max-height: 50px;
	padding: 2%;
	padding-top: 0%;
	gap: 2%;
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #FFF;
}
text_our_team{
	max-height: 150px;
	padding: 1.75%;
	padding-bottom: 4%;
	gap: 2%;
	display: flex;
	width: 96%;
	height: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	
	color: rgba(255, 255, 255, 0.65);
	font-family: Gotham;
	font-style: normal;
	font-weight: 70%;
	line-height: 35px;
	text-decoration: none;
	text-align: right;
}

@media screen and (max-width: 600px){
	text_our_team{
		font-size: 12px;
	}
}
@media screen and (min-width: 601px){
	text_our_team{
		font-size: 24px;
	}
}
.title_article_our_team img{
	padding-bottom: 2%;
	gap-top: 2%;
	gap-bottom: 2%;
	justify-content: center;
	flex-shrink: 0;
	color: rgba(255, 255, 255, 0.50);
	text-align: right;
	font-family: Gotham;
	font-size: 12px;
	font-style: normal;
	font-weight: 100%;
	line-height: normal;
	!background: rgba(24,24,31,0.5);
}
.article_OurTeam{
	display: block;
	max-width: 1000px;
	width: 100%;
	height: 20%;
	flex-shrink: 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px 5px 5px 5px;
	background: rgba(24,24,31,0.5);
	margin-bottom: 3%;
}
.footer_pc{
	min-width: 240px;
	max-width: 1920px;
	width: 70%;
	background: rgba(13, 13, 17, 0.85);
	color: rgba(255, 255, 255, 0.40);
	display: flex;
	gap: 2%;
	padding: 2%;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: Gotham;
	font-style: normal;
	font-weight: 400;
	text-align: center;
}
@media screen and (max-width: 800px){
	.footer_pc{
		font-size: 8px;
	}
}
@media screen and (min-width: 801px){
	.footer_pc{
		font-size: 24px;
	}
}
.news_articles_bg{
	min-width: 240px;
	min-height: 1080px;
	border-radius: 0px 0px 5px 5px;
	
	padding: 2%;
	height: 100%;
	width: 70%;
	max-width: 1920px;
	background-color: #0D0D11B2;
	
	padding: 2%;
	margin-left: auto;
	margin-right: auto;
}
.news_articles_bg h1{
	margin-top: 1%;
	font-family: Gotham;
	font-style: normal;
	font-weight: 100%;
	line-height: normal;
	max-height: 50px;
	padding: 2%;
	padding-top: 0%;
	gap: 2%;
	display: flex;
	width: 100%;
	!flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #FFF;

}
@media screen and (max-width: 800px){
	.news_articles_bg h1{
		font-size: 18px;
	}
}
@media screen and (min-width: 801px){
	.news_articles_bg h1{
		font-size: 30px;
	}
}
.news_articles_bg p{
	padding: 1.75%;
	gap: 2%;
	display: flex;
	width: 97%;
	overflow: hidden;
	text-overflow: ellipsis;
	
	color: rgba(255, 255, 255, 0.65);
	font-family: Gotham;
	font-style: normal;
	font-weight: 70%;
	line-height: 35px;
	text-decoration: none;
	
	
}
.news_articles_bg img{
	width: 50%;
	height: 50%;
	max-height: 300px;
	max-width: 300px;
	display: block;
	border-radius: 5px 5px 5px 5px;
	margin-left: auto;
	margin-right: auto;
}